@page "/"

<PageTitle>Home</PageTitle>

<h1>EventEase</h1>

Hello! This is an application to test the EventEase app.<br />
In this app, you will be able to create, edit, and delete events.<br />
You will also be able to login, register, and view your registered events.<br />
You will only be able to register to and view your events if you are logged in.<br />
It is a little rough around the edges, but it works!
<p style="font-size: 0.6rem">hopefully...</p>
Please let me know if there are any issues!